html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 15px;
  font-family: "Merriweather", serif;
}
body header {
  position: fixed;
  width: 100%;
  top: 0;
  display: block;
  z-index: 10;
}
body header .header__nav .nav_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
body header .header__nav .nav_container .header__logo {
  background-image: url(../img/LOGO.jpg);
  width: 7%;
  height: 70px;
  background-position: center;
  object-fit: cover;
  border-radius: 10px;
}
body header .header__nav .nav_container #navbarNav {
  justify-content: flex-end;
}
body header .header__nav .nav_container #navbarNav .navbar-nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
body header .header__nav .nav_container #navbarNav .navbar-nav .nav-item {
  padding: 1rem 0;
}
body header .header__nav .nav_container #navbarNav .navbar-nav .nav-item a {
  font-size: 1rem;
  font-weight: bold;
  color: #38a3a5;
  letter-spacing: 2px;
}
body header .header__nav .nav_container #navbarNav .navbar-nav .nav-item .active {
  color: #22577a;
}
body header .header__nav .nav_container #navbarNav .navbar-nav .nav-item::after {
  content: "";
  width: 0%;
  height: 5px;
  background-color: #22577a;
  border-radius: 10px;
  display: block;
  transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
}
body header .header__nav .nav_container #navbarNav .navbar-nav .nav-item:first-child::after {
  width: 100%;
  animation: none;
}
body header .header__nav .nav_container #navbarNav .navbar-nav .nav-item:hover::after {
  animation: myAD 0.7s linear;
}
body header .header__nav .nav_container #navbarNav .navbar-nav .nav-item:hover a {
  color: #22577a;
  cursor: pointer;
}

@keyframes myAD {
  0% {
    width: 0;
  }
  20% {
    width: 20%;
  }
  60% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}
.carosel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.carosel .carosel__content {
  width: 50%;
}
.carosel .carosel__content .carosel_text {
  width: 63%;
  margin: 0 auto;
  text-align: left;
}
.carosel .carosel__content .carosel_text h1 {
  font-weight: bold;
  font-size: 3.7vw;
  line-height: 1.2;
}
.carosel .carosel__content .carosel_text p {
  line-height: 1.2;
  margin-top: 0.4em;
  font-size: 2.5vw;
}
.carosel .carosel__content .carosel_text p .time {
  font-weight: 700;
  font-size: 2.5rem;
}

.Statistical {
  background-color: #CBE4DE;
  height: 500px;
  display: flex;
  align-items: center;
}
.Statistical .Staric_tbl {
  background-image: url(../img/chart1\ 2.png);
  width: 70%;
  height: 400px;
  object-fit: cover;
  background-size: 100% 100%;
}
.Statistical .Staric_number {
  color: #333;
}
.Statistical .Staric_number .items {
  margin-bottom: 40px;
}
.Statistical .Staric_number .items h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}
.Statistical .Staric_number .items h1 {
  font-size: 1.6rem;
}

.re-file {
  padding: 50px 0;
}
.re-file .title {
  font-size: 2.7rem;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}
.re-file .title::after {
  content: "";
  width: 10%;
  margin: 0 auto;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
}
.re-file .items {
  padding: 50px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.re-file .items .item_content, .re-file .items .item4, .re-file .items .item3, .re-file .items .item2, .re-file .items .item1 {
  height: 300px;
  border-radius: 1rem;
  width: 40%;
}
.re-file .items .item1 {
  background-image: url(../img/img1.png);
}
.re-file .items .item2 {
  background-image: url(../img/img2.png);
}
.re-file .items .item3 {
  background-image: url(../img/img3.png);
}
.re-file .items .item4 {
  background-image: url(../img/img4.png);
}
.re-file .items .item_content h2, .re-file .items .item1 h2, .re-file .items .item2 h2, .re-file .items .item3 h2, .re-file .items .item4 h2 {
  font-size: 3.2rem;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
}
.re-file .items .item_content ul, .re-file .items .item1 ul, .re-file .items .item2 ul, .re-file .items .item3 ul, .re-file .items .item4 ul {
  margin-top: 2em;
}
.re-file .items .item_content ul li, .re-file .items .item1 ul li, .re-file .items .item2 ul li, .re-file .items .item3 ul li, .re-file .items .item4 ul li {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  list-style: disc;
  line-height: 1.5;
}

.product {
  background-color: rgba(147, 218, 218, 0.452);
}
.product .container_items {
  width: 80%;
  margin: 0 auto;
}
.product .container_items .carosel__prd .carousel-item .carosel__ctn {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.product .container_items .carosel__prd .carousel-item .carosel__ctn .sp {
  width: 300px;
  margin: 0 30px;
}
.product .container_items .carosel__prd .carousel-item .carosel__ctn .sp img {
  object-fit: cover;
  height: 300px;
}
.product .container_items .carousel-indicators [data-bs-target] {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.product .container_items .carousel-inner {
  padding-bottom: 50px;
}

.said {
  padding: 30px 0;
  text-align: center;
  background-image: url(../img/Rectangle\ 25.png);
  object-fit: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.said p {
  padding: 1.2vw 0;
  width: 35%;
  margin: 0 auto;
  font-size: 1.8vw;
  font-weight: bold;
  color: #000000;
  line-height: 1.3;
}

.title {
  font-size: 2.7rem;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}
.title::after {
  content: "";
  width: 10%;
  margin: 0 auto;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
}

.personproduct {
  padding: 30px 0;
  background-color: #6da4de;
}
.personproduct .prson_all {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
  padding: 30px 0;
}
.personproduct .prson_all .items {
  position: relative;
  width: 250px;
}
.personproduct .prson_all .items .items__1 {
  background-color: #144272;
  border-radius: 15px;
  padding: 0 20px;
}
.personproduct .prson_all .items .items__1 .item_text {
  padding: 70px 0;
  text-align: center;
  color: #fff;
}
.personproduct .prson_all .items .items__1 .item_text h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.personproduct .prson_all .items .items__1 .item_text p {
  line-height: 3.6;
}
.personproduct .prson_all .items img {
  height: 160px;
  margin: 0 auto;
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
}

.form_setting {
  padding: 40px 0;
}

:root {
  --color-1: rgb(245,231,245);
}

.form h2 {
  text-align: center;
  font-size: 30px;
}

form {
  width: 60%;
}

form p {
  margin: 0 20px;
}

form li {
  list-style: none;
  width: 100%;
}

.input_txt input, select {
  width: 100%;
  border: 0px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 5px;
  background-color: var(--color-1);
}

.email_phone {
  display: grid;
  grid-template-columns: 55% 40%;
  justify-content: space-between;
}

.select-container {
  display: grid;
  grid-template-columns: 55% 40%;
  justify-content: space-between;
}

:root {
  --color-2: rgba(152, 177, 182, 0.5);
}

.form-title {
  position: relative;
  width: 40%;
  box-sizing: border-box;
}

.form_item1 {
  width: 150px;
  height: 150px;
  background-color: var(--color-2);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  right: 25%;
}

.form_item2 {
  width: 150px;
  height: 150px;
  background-color: var(--color-2);
  border-radius: 50%;
  position: absolute;
  bottom: -60%;
  right: 25%;
}

.form_item3 {
  width: 150px;
  height: 150px;
  background-color: var(--color-2);
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  right: 40%;
}

.form-title h2 {
  font-size: 25px;
  position: absolute;
  top: 26%;
  left: 60%;
  color: white;
}

.form_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
}

@media screen and (max-width: 600px) {
  footer {
    height: auto;
  }
  .footer-top {
    grid-template-columns: 90%;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "c1" "c2" "c3";
  }
  .footer_item1 {
    width: 100%;
  }
  .footer_item2 {
    width: 100%;
  }
  .footer_item3 {
    width: 100%;
  }
}
@keyframes mox-delete {
  0% {
    top: 100px;
    left: 180px;
    transform: rotateZ(0deg);
  }
  25% {
    top: 70px;
    left: 220px;
    transform: rotateZ(120deg);
  }
  50% {
    top: 60px;
    left: 300px;
    transform: rotateZ(240deg);
  }
  75% {
    top: 10px;
    left: 180px;
    transform: rotateZ(360deg);
  }
}
footer {
  background-image: url(../img/footer.jpg);
  width: 100%;
  height: 360px;
}

.footer-top {
  width: 100%;
  height: 320px;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 300px;
  grid-template-areas: "c1 c2 c3";
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.footer-top .footer_item1 {
  grid-area: c1;
}

.footer-top .footer_item3 {
  grid-area: c2;
}

.footer-top .footer_item3 {
  text-align: center;
  grid-area: c3;
}

.footer_item3 li {
  list-style: none;
  color: white;
  margin-bottom: 20px;
}

.footer_item3 li a {
  color: white;
  text-decoration: none;
}

.footer_item3 li a:hover {
  color: pink;
}

.footer_item3_icon a {
  margin: 0 5px;
}

.footer-bottom {
  width: 100%;
  height: 10px;
  text-align: center;
}

.footer-bottom p {
  color: white;
}

.footer_item1 img {
  margin-top: 15%;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(156, 153, 153, 0.5);
}

.footer-top div {
  margin-top: 10px;
}

.footer-top .footer_item2 iframe {
  width: 100%;
  height: 120px;
}/*# sourceMappingURL=main.css.map */